@model Book


<div class="container">

    <div class="jumbotron">
        <h2>Review for @Model.Title</h2>
    </div>


    @foreach (var r in Model.Reviews)
    {
        <div class="container">

            <div class="card text-white bg-info mb-3" style="max-width: 60rem;">
                <div class="card border-dark mb-3" style="max-width: 60rem;">
                    @*<div class="card-header"><h2><a style="cursor:pointer" asp-action="Details" asp-route-id="@b.Id">@b.Title</a></h2></div>*@
                    <div class="card-body text-dark">
                        <h4 class="card-title">@r.Body</h4>
                        <p class="card-text">@r.Rating/5</p>
                        <p class="card-text">@r.UserName</p>
                        <form asp-action="Delete" asp-controller="Reviews" asp-route-Bookid="@r.Id" method="post">
                            <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-Bookid="@r.Id">Edit</a>
                            <input type="hidden" name="Id" value="@r.Id" />
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    }


    <div class="text-center">
        <a asp-action="Create" asp-controller="Reviews" asp-route-Bookid="@Model.Id" class="btn btn-sm btn-primary">Add New Review</a>
        <a asp-action="Index" asp-controller="Books" class="btn btn-default">Cancel</a>
    </div>
   

    
</div>




