@model IEnumerable<BookAppCore.Models.ViewModels.BookViewIndex>


    


    <div class="form-control">
        <div class="jumbotron">
            <p>Welcome to ASP.NET CORE MVC Books Web Application</p>
        </div>
        <div class="container">


            <form asp-action="Index" method="get">
                <input type="search" placeholder="search by Title or By Genre" name="search" class="form-control" />
                <div class="text-center">
                    <input type="submit" class="btn btn-primary glyphicon-search" />
                    <a class="btn btn-default" asp-action="Index">Cancel</a>
                </div>
                
            </form>
            <br />


            @foreach (var b in Model) { 
            
                <div class="container">

                    <div class="card text-white bg-primary mb-3" style="max-width: 60rem;">
                        <div class="card border-dark mb-3" style="max-width: 60rem;">
                            <div class="card-header"><h2><a style="cursor:pointer" asp-action="Details" asp-route-id="@b.Id">@b.Title</a></h2></div>
                            <div class="card-body text-dark">
                                <h4 class="card-title">@b.Genre</h4>
                                <p class="card-text">@b.Price.ToString("c")</p>
                                <p class="card-text">Review Count: @b.ReviewCount</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

